.favorite_dialogue {
  --height: 25%;
  --width: 90%;
  --border-radius: 0.1rem;
  --box-shadow: 0 0.3rem 0.5rem -0.1rem var(--ion-color-primary-contrast-rgb), 0 0.1rem 0.2rem -0.1rem rgb(0 0 0 / 0.1);
  backdrop-filter: blur(3%);
}

.modal_toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

.modal_content_section {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.modal_buttons {
  margin-top: 2%;
  justify-content: space-around;
  display: flex;
  width: 100%;
}

.center_all_column {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: transparent;
}

.center_all_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.start_all_row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.end_all_row {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 20%;
}

.date_time_card {
  --ion-item-background: transparent;
  border: 1px solid darkslategrey;
  border-radius: 1rem;
  margin-inline-start: 4%;
  margin-inline-end: 4%;
}

.toggle_button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.toggle_button_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 0.5rem;
  flex-wrap: nowrap;
}

.toggle_button_label {
  align-self: center;
  text-wrap: nowrap;
  --overflow: visible;
}

.date_time_button {
  color: primary;
}

.date_icon {
  font-size: 2rem;
  margin: 1%;
}

.input_field_width {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 100%;
}

.button_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.date_time_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 0.5rem;
}

.button_primary {
  color: var(--ion-color-primary-contrast);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease-in-out;
}

.button_secondary {
  color: var(--ion-color-secondary);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease-in-out;
}

.button_colorless {
  background-color: transparent;
  color: var(--ion-color-primary);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease-in-out;
}

.icon_button_sizing {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.input_field_item {
  --ion-item-background: transparent;
}
