.stats_details {
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats_data_basis {
    font-style: italic;
    margin-top: -5px;
    text-indent: 20px;
}
