.buttonPrimary {
background-color: ion-color-primary;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease-in-out;
}

.buttonSecondary {
  background-color: ion-color-secondary;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
      margin: 0;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: color 0.2s ease-in-out;
  }

  .buttonColorless {
    background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        margin: 0;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color 0.2s ease-in-out;
    }
