.button_primary {
background-color: ion-color-primary;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease-in-out;
}

.button_secondary {
    background-color: ion-color-secondary;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease-in-out;
  }

  .button_colorless {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease-in-out;
    }

    .icon_button_sizing {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
      }
