.detailCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-label {
  padding: 0.125rem;;
}

/* .contentSection {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.midSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 57%;
  padding-top: 3%;
}

.duration {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 0% 0% 0% 0%;
}

IonButton {
  color: transparent;
}

.detailCardSizing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.centerAllRow2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.trainIcon {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--ion-color-primary-tint);
  padding-right: 0.5rem;
}

.travelTime {
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
}
