ion-label {
    padding: 2px;
}

.content-section {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid-section {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.bottom-section-closed {
    position: relative;
    padding-top: 4px;
}

.bottom-section-opened {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

IonButton {
    color: transparent;
}

.JourneyDetail {
    width: 100%;
}
