ion-modal#favorite_dialogue {
  --height: 25%;
  --width: 90%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal#favorite_dialogue::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal#favorite_dialogue ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}

#content_section{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  #buttons{
    margin-top: 14px;
    justify-content: space-around;
    display: flex;
    width: 100%;

    ion-button {
      --width: 20px;
    }
  }
}
