ion-modal#favorite-dialogue {
  --height: 25%;
  --width: 90%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal#favorite-dialogue::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal#favorite-dialogue ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}

#content-section{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  #buttons{
    margin-top: 14px;
    justify-content: space-around;
    display: flex;
    width: 100%;

    ion-button {
      --width: 20px;
    }
  }
}

.date-time-card{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: 1px solid blue;
  border-radius: 10px;
}

.toggle-button{
  margin-inline-start: -5%;
}

.toggle-button-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.toggle-button-label{
  align-self: center;
  margin-inline-start: 3%;
}

.date-time-button {
  color: primary;
}

.button_row {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
