.center_all_column {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.center_all_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.start_all_row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.end_all_row {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 20%;
}
