
.line {
  border-radius: 15px;
  width: 8px;
  height: 130px;
  background: var(--ion-color-light-shade);
  margin: auto;
}

.fill-line {
  border-radius: 15px;
  border: 1px solid var(--ion-color-dark-shade);
  width: 9px;
  background: var(--ion-color-primary);
}

.timeline-container {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.line-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
}

.delayStats {
  margin-top: 0.5em;
}
