.selection {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.result_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.result_swiper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.right_align {
  display: flex;
  align-items: start;
  justify-content: end;
  width: 25%;
  padding-bottom: 2rem;
}

back_icon {
  font-size: 3rem;
  color: grey;
  opacity: 50%;
  padding-top: 0.16rem;
}

.radio {
  margin: 5px;
}

.bottom_responsiveness_extension {
  min-height: 10%;
  margin-bottom: 79vh;
}

.arrow_icon {
  font-size: 1.5rem;
  color: grey;
  opacity: 50%;
  padding-top: 0.16rem;
}

.back_button {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
