.journey-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map {
  display: flex;
  flex-grow: 1;
}

.planner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
