.journeyContent {
  height: 100%;
}

.map {
  height: 50%;
}

.planner {
  height: 50%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.swiper-wrapper {
  height: 100vh;
}
