.journeyContent {
  height: 100%;
}

.map {
  display: flex;
  max-height: 40%;
}

.planner {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-wrapper {
  height: 100vh;
}
