.error {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.errorIcon {
  height: 10rem;
  width: 10rem;
  color: var(--ion-color-secondary);
}

.errorCode {
  margin: 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  color: var(--ion-color-medium-shade);
}

.errorMessage {
  text-align: center;
  font-size: 2rem;
  color: var(--ion-color-dark);
}
