name: Frontend CI

on: 
  push:
    paths: 
      - frontend/**
      - .github/workflows/frontend_ci.yml


jobs:
    frontend:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v3
        - name: Install Node.js
          uses: actions/setup-node@v3
          with:
            node-version: 18.x
        - name: Install Dependencies
          working-directory: frontend
          run: |
            npm ci
        - name: Lint
          working-directory: frontend
          run: |
            npm run lint -- --max-warnings 0 --no-fix
        - name: Test
          working-directory: frontend
          run: |
            npm run test.unit -- run
        - name: Build
          working-directory: frontend
          run: |
            npm run build
